.footer {
    padding: 2rem 0;
    text-align: center;
    position: relative;
    border-top: 1px solid var(--glass-border);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.highlight {
    color: var(--primary);
    font-weight: bold;

    .sub {
        color: var(--foreground);
        opacity: 0.6;
        margin-top: 0.5rem;
        font-size: 0.8rem;
    }
}